.center-card {
  width: 500px;
  height: 200px;
  margin: auto;
  margin-top: 10%;
  background-color: aliceblue;
  border-radius: 5%;
}

.text-align {
  margin-left: 15%;
  padding-top: 15px;
}

.text-font {
  font-size: large;
}

.btn-align {
  margin-left: 40%;
  margin-top: 10%;
}
