<div class="center-card">
  <h1 [style.color]="colorCode" class="text-align">Color changing text</h1>
  <label class="text-align text-font">Text Color: </label>
  <input type="text" [(ngModel)]="colorValue" />
  <br />
  <button class="btn-align" (click)="changeColor()" [style.color]="colorCode">
    Change color
  </button>
</div>
<router-outlet></router-outlet>
